@import 'color';

@font-face {
  font-family: "kozuka-gothic-pr6n";
  src: url("https://neon-district-season-one.s3.amazonaws.com/fonts/KOZGOPR6N-REGULAR.OTF");
}
@font-face {
  font-family: "kozuka-gothic-pr6n-lighter";
  src: url("https://neon-district-season-one.s3.amazonaws.com/fonts/KOZGOPR6N-LIGHT.OTF");
}
@font-face {
  font-family: "kozuka-gothic-pr6n-bold";
  src: url("https://neon-district-season-one.s3.amazonaws.com/fonts/KOZGOPR6N-BOLD.OTF");
}
@font-face {
  font-family: "kozuka-gothic-pr6n-bolder";
  src: url("https://neon-district-season-one.s3.amazonaws.com/fonts/KOZGOPR6N-HEAVY.OTF");
}

.playerControlsWrapper {
  box-sizing: unset;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 33%;
  background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1) 12.5%);

  font: 7.5pt kozuka-gothic-pr6n-bold;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #FFFFFF;

  cursor: default;
  margin: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;

  .playerRegion {
    order: 1;
    flex: 9;

    margin: 6px 18px;
    padding: 0;

    .topBorder {
      margin: 12px 0 0 0;
      border-bottom: 2px solid $hud_darkGray;
    }

    &.bottomBorder {
      border-bottom: 2px solid $hud_darkGray;
    }

    .playerControls {
      margin: 0px 0px 6px 0px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: stretch;

      .activeCharacter {
        flex-basis: 17.5%;
        padding: 3px;
      }

      .defaultSelections {
        background-color: $hud_darkGray;
        padding: 5px;
        margin: 3px;

        flex-basis: 20%;
      }

      .cardWrapper {
        background-color: $hud_darkGray;
        padding: 5px;
        margin: 3px;

        flex-basis: 62.5%;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
      }
    }
  }

  .cardSelectionWrapper {
    margin: 5px;
    padding: 6px;
    width: calc(100% - 22px);
    height: calc(100% - 22px);

    &:hover {
      box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.3);
      border-radius: 6px;
    }

    &.selected {
      border-radius: 6px;
      box-shadow: 0px 0px 4px 1px #FFFFFF;
    }

    .card {
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      border-radius: 4px;
      box-shadow: 0px 0px 6px 1px #000000;
      padding: 2px;

      font: 7pt kozuka-gothic-pr6n-bold;
      text-transform: none;
      text-shadow: none;
      text-align: center;

      &.baseAttack {
        border: 1px solid $hud_red;

        width: calc(100% - 6px);
        height: calc(100% - 6px);

        .baseAttackImg {
          position: relative;
          top: 17.5%;
          width: 40%;
        }

        .baseAttackTitle {
          position: relative;
          top: 12.5%;
          text-transform: uppercase;
          font-size: 150%;
          color: $hud_red;
        }
      }

      &.attackCard {
        border: 4px solid $hud_red;
      }

      &.abilityCard {
        border: 4px solid $hud_green;
      }

      &.effectCard {
        border: 4px solid $hud_yellow;
      }

      &.interactCard {
        border: 4px solid $hud_desaturatedNeonBlue;
        color: $hud_halfGray;
      }

      &.fillerCard {
        border: 4px solid $hud_darkGray;
        color: $hud_halfGray;
      }

      &.backCard {
        border: 4px solid $hud_purple;
        background: url('https://neon-district-season-one.s3.amazonaws.com/assets/nd-logo.png');
        background-position: center center;
        background-size: 75%;
        background-repeat: no-repeat;
      }

      div.cardTopRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
      }

      .cardTitle {
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: 1.5em;
        flex-basis: 65%;
        font-size: 1.2em;
      }

      .cardTicks {
        display: block;
        position: relative;
        top: 0;
        right: 3px;
        text-align: center;
        padding: 0;
        margin: 0;

        flex-basis: 15%;

        .cardTicksNumber {
          display: block;
          font-size: 125%;
          padding: 0;
          margin: 0;

          position: absolute;
          top: -3px;
          right: 2px;
        }

        hr.cardTicksLine {
          position: absolute;
          top: 12px;
          right: -1px;
          width: 18px;

          &.baseAttack {
            border: 1px solid $hud_red;
          }

          &.attackCard {
            border: 1px solid $hud_red;
          }

          &.abilityCard {
            border: 1px solid $hud_green;
          }

          &.effectCard {
            border: 1px solid $hud_yellow;
          }

          &.interactCard {
            border: 1px solid $hud_neonBlue;
          }
        }

        .cardTicksLabel {
          position: absolute;
          top: 17px;
          right: -1px;
          padding: 0;
          margin: 0;
          font-size: 75%;
          text-transform: uppercase;
        }
      }

      .cardEffects,
      .cardExploits {
        margin: 15px 2px;
        text-align: center;
        font: 7.5pt kozuka-gothic-pr6n;
        line-height: 1.5em;
      }

      div.cardTypeWrapper {
        flex-basis: 15%;

        span.cardType {
          position: relative;
          top: 0;
          left: 3px;
          display: block;
          width: 20px;
          height: 20px;

          &.abilityCardType {
            background: url('https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Hack.png');
            background-size: 20px 20px;
          }

          &.attackCardType {
            background: url('https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Attack.png');
            background-size: 20px 20px;
          }

          &.effectCardType {
            background: url('https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Effect.png');
            background-size: 20px 20px;
          }

          &.interactCardType {
            background: url('https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Interact.png');
            background-size: 20px 20px;
          }
        }
      }
    }
  }

  .targetRegion {
    order: 2;
    flex: 4;

    margin: 6px 18px;
    padding: 0;

    .topBorder {
      margin: 12px 0 0 0;
      border-bottom: 2px solid $hud_desaturatedRed;
    }

    &.bottomBorder {
      border-bottom: 2px solid $hud_desaturatedRed;
    }
  }

  .targetControls {
    margin: 0px 0px 6px 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

    .activeCharacter {
      flex-basis: 35%;
      padding: 3px;
    }
  }

  .characterProfile {
    height: 100%;
    display: block;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    img {
      width: 100%;
      border: 0px;
      display: block;

      &.flipHorizontal {
        transform: scaleX(-1);
      }

      &.playerProfile {
        background: linear-gradient(180deg, rgba(36,36,36,1.0), rgba(63,88,88,1.0));
      }

      &.targetProfile {
        background: linear-gradient(180deg, rgba(36,36,36,1.0), rgba(79,40,48,1.0));
      }
    }

    /* Hack to hide the white border around an img without a src */
    img:not([src]){
      content:url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
    }

    .characterName {
      max-width: 100%;
      padding: 4px 8px;
      border: 1px solid white;
      background-color: $hud_darkGray;
    }
  }

  .targetCharacterControls {
    flex: 3;
    padding: 3px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    .targetCharacterStats {
      padding: 8px 8px;

      .targetCharacterStatsHeader {
        color: $hud_neonBlue;
        font-size: 8pt;
        font-style: italic;
        text-shadow: 0px 0px 10px $hud_neonBlue;
        padding: 0 8px;

        border-bottom: 2px solid $hud_halfGray;
      }

      .targetCharacterStatsBody {
        padding: 8px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        text-align: center;
        text-shadow: 0px 0px 0px;

        .attribute {
          flex-basis: 25%;

          .attributeValue {
            font-size: 10pt;
            text-align: center;
          }

          .attributeName {
            font-size: 7pt;
            color: $hud_halfGray;
          }
        }
      }
    }

    .targetButtons {
      width: 100%;

      .confirmButton {
        float: right;

        font: 10pt kozuka-gothic-pr6n-bold;
        text-transform: uppercase;

        color: white;
        padding: 4px 16px;
        border: 1px solid white;
        background-color: $hud_darkGray;

        &:disabled {
          border: 1px solid $hud_halfGray;
          color: $hud_halfGray;
        }
      }
    }

  }
}

.healthBarOuter {
  display: block;
  position: absolute;
  width: 80px;
  height: 5px;
  background-color: $hud_transparentRed;

  .healthBarFill {
    background-color: $hud_desaturatedRed;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: block;
  }
}

.statusEffects {
  display: block;
  position: absolute;

  .statusEffect {
    height: 16px;
    width: 16px;
    display: none;
    margin: 0px 2px;

    &.visible {
      display: inline-block;
    }

    &.statusEffectPoison {
      background: url("https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Poison.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.statusEffectRegenerate {
      background: url("https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Regeneration.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.statusEffectShield {
      background: url("https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Shield.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.statusEffectTaunt {
      background: url("https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Taunt.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.statusEffectCounterattack {
      background: url("https://neon-district-season-one.s3.amazonaws.com/assets/V5/64w/1x/Counterattack.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.unitStatusUpdates {
  display: block;
  position: absolute;
  font: 12pt kozuka-gothic-pr6n-bold;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 2px #000000;
  cursor: default;

  .unitStatusUpdateTicks {
    color: $hud_desaturatedNeonBlue;
  }

  .unitStatusUpdateRed {
    color: $hud_desaturatedRed;
  }

  .unitStatusUpdateGreen {
    color: $hud_desaturatedGreen;
  }
}

.targetCharacterStats {
  .statusEffects {
    right: 30px;
  }
}

.characterTicksRingOuter {
  display: block;
  position: absolute;

  .characterTicksRingBackfill {
    stroke: $hud_transparentNeonBlue;
  }

  .characterTicksRingFill {
    stroke: $hud_desaturatedNeonBlue;
  }
}

.turnOrderDisplay {
  box-sizing: unset;
  display: block;
  position: absolute;
  top: 10px;
  margin: auto;
  max-width: 100%;
  cursor: default;

  .unitTurnOrderPortrait {
    display: inline-block;
    position: relative;
    top: 0;

    -webkit-clip-path:polygon(12.5% 0, 100% 0, 87.5% 100%, 0% 100%);
    clip-path:polygon(12.5% 0, 100% 0, 87.5% 100%, 0% 100%);
    width:80px;
    height:80px;
    background-color: $hud_darkGray;

    .unitTurnOrderPortraitImage {
      width: 100%;
      height: 100%;
      display: block;
      background-size: 90% 90%;
      background-position: bottom center;
      background-repeat: no-repeat;

      &.flipHorizontal {
        transform: scaleX(-1);
      }
    }

    .unitTurnOrderTicks {
      position: absolute;
      top: 3px;
      right: 0px;

      text-align: right;
      color: $hud_neonBlue;
      font-size: 9pt;
      text-shadow: 0px 0px 10px $hud_neonBlue;
      padding: 0 8px;
    }
  }
}

.errorDisplay {
  display: block;
  position: absolute;
  bottom: 33%;
  right: 2%;
  width: 300px;
  height: 60px;
  cursor: default;
  background: $hud_darkGray;
  border: 3px solid $hud_desaturatedRed;
  border-radius: 8px;
  font: 10pt kozuka-gothic-pr6n-bold;
  text-align: center;
  padding: 10px;
  line-height: 1.5em;

  opacity: 0;
  &.playAnimation {
    animation: fade-in-and-out 3s;
  }
}

@keyframes fade-in-and-out {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.versionDisplayWrapper {
  font: 7.5pt kozuka-gothic-pr6n-bold;
  text-transform: uppercase;
  padding: 0px;
  margin: 5px;
  opacity: 0.5;
  cursor: default;
  line-height: 1.5em;
}