body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #001015;
	color: hsla(0,0%,100%,.96);
	font-family: "Roboto",sans-serif;
}

div.site-bg-holder {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: -2;
  opacity: .15;
  background: url('./img/backgrounds/bg_1.jpg');
}

div.navigation {
	background: #202324;
	padding:0.6em;
	height: 20px;
	border-bottom: 2px solid #494949;
}

div.navigation a {
	padding: 0 0.8em;
	vertical-align: top;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

div.navigation a:hover {
	color: #ff7db6;
}

div.navigation img {
	height: 100%;
	padding-right:2em;
}

div.container {
	padding: 0.5em 2em;
}

div.char-equip, div.char-equip-options div {
	display: flex;
}

div.char-equip h3 {
	margin: 10px 0px;
}

div.char-equip input[type="radio"] {
	margin: 5px 10px 5px 5px;
}

div.char-equip-rarity-inputs {
	margin: 6px 0px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: rgba(38, 48, 51, 0.9);
    border: 1px solid hsla(0,0%,100%,.9);
    border-radius: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: hsla(0,0%,100%,.9);
    font-size: 90%;
    margin: 0;
    overflow: hidden;
    padding: 5px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
}

div select:nth-of-type(2) {
	margin-left: 12px;
}

.arrow {
	margin: 0px;
	border: 1px solid hsla(0,0%,100%,.9);
	background: rgba(38, 48, 51, 0.9);
	padding: 5px;
	margin: 0 0 0 10px;
	display: inline-block;
	cursor: pointer;
}
